*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #3378ad;
}

header{
    height: 4.5rem;
    background-color: #13293D;
    color: lightgray;
    font-family: 'Times New Roman', Times, serif;
}